<% @post.comments.each do |comment| %>
  <p>
    <% unless !comment.persisted? %>
      <strong>Comment by <%= comment.user.email %></strong>
      <%= comment.comment %>
      <% if can? :manage, comment %>
        <%= link_to "Edit", edit_topic_post_comment_path(topic_id: @topic, post_id: @post, id: comment ), class: "btn btn-secondary" %>
      </p>
        <% end %>
    <% end %>
<% end %>
<h3>Add a comment:</h3>
<%= form_with model: [ @topic, @post, comment ] do |form| %>
  <p>
    <%= form.text_area :comment, class:"form-control" %>
  </p>
  <p>
    <%= form.submit "Add Comment", class:'btn btn-dark'%>
  </p>
<% end %>
