<% @post.comments.each do |comment| %>
  <p>
    <% unless !comment.persisted? %>
      <strong>Comment by <%= comment.user.email %></strong>
      <%= comment.comment %>
      </p>
    <% end %>
<% end %>
<h3>Add a comment:</h3>
<%= form_with model: [ @topic, @post, comment ] do |form| %>
  <p>
    <%= form.text_area :comment, class:"form-control" %>
  </p>
  <p>
    <%= form.submit "Add Comment", class:'btn btn-dark'%>
  </p>
<% end %>
