<%= form_with model: topic do |form| %>
  <div class="container">
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% topic.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :created_by_and_date %><br>
    <%= form.text_area :post %><br>
    <% topic.errors.full_messages_for(:post).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<div>
    <%= form.submit %>
<% end %>
</div>



