<ul>
  <% if user_signed_in? %>
    <p class="display-4">Topic Are Here!!!</p>

  <% @topics.each do |article| %>
    <li class="list-group-item">
          <h6><%= article.title%></h6>
      <%= article.post %>
      <%= link_to "Show" , topic_posts_path(article), class: "btn btn-primary"%>
      <%= link_to "Edit", topic_path(article), class: "btn btn-secondary" %>

      <% end %>
    </li>
  <% else %>
    </br>
    <p class="display-4">Log in to Continue!</p>
    <%= link_to 'Sign Up', new_user_registration_path, class:'btn btn-outline-dark' %>
    <%= link_to 'Sign In', new_user_session_path, class:'btn btn-outline-primary'%>
  </li>
  <% end %>
<br>
  <script>
      $(document).ready(function (){
          $('p').css('color', 'default');
      })
  </script>
  <%#= javascript_pack_tag 'intro' %>
  <%= will_paginate @topics %>
</ul>




