<div class= "container">
<h1><%= @topic.title %></h1>
<p><%= @topic.post %></p>
&ensp; <%= link_to "Edit", edit_topic_path(@topic), class: "btn btn-secondary" %> |
&ensp;<%= link_to "Destroy", topic_path(@topic),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</br>
</br>
        <strong><%=  render @topic.posts %></strong>
<h2>Add a Post</h2>
<%= render 'posts/form' %>
  </br>
     <i class="bi bi-star"></i>

<%= link_to "Home", topics_path, class:"btn btn-info" %>
</div>

