<div class= "container">
<h1><%= @topic.title %></h1>
<p><%= @topic.post %></p>
&ensp; <%= link_to "Edit", edit_topic_path(@topic), class: "btn btn-secondary" %> |
&ensp;<%= link_to "Destroy", topic_path(@topic),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</br>
</br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Posts
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong><%= render @topic.posts %></strong>
      </div>
    </div>
  </div>
<h2>Add your thougts?</h2>
  <% if flash[:notice] %>
    <p style="color:#ff0000;" class="notice"><%= flash[:notice] %></p>
  <% end %>
<%= render 'posts/form' %>

</br>
<%= link_to "Home", topics_path, class:"btn btn-info" %>

</div>

