<%= form_with model: [ @topic, @topic.posts.build ] do |form| %>
  <br class="container form-group">
  <div>
    <%= form.text_area :content, class:"form-control" %>
    <%= form.label :image %>
    <%= form.file_field :image %>
    <%= Tag.all.each do |list| %>
    <%= check_box_tag "tag[]" %>
      <%= list.tag %>
    <% end %>
  </div>
  </br>
  <div>
    <%= form.submit class:'btn btn-dark'%>
<% end %>
</div>



