<%= form_with model: [ @topic, @topic.posts.build ], remote: true do |form| %>
  <div class="container form-group">
    <%= form.text_area :content, class:"form-control" %>
    </br>
    <%= form.label :Add_Photo %>
    <%= form.file_field :image %>
    </br>
    </br>

    <%= form.label :Select_Tag %>
    <%= form.select(:tag_ids, Tag.all.collect {|t| [t.tag, t.id] }, { :prompt => "Please select"},
                 { :multiple => true, :size => 5 }) %>
    <%=  %>
    </br>
    </br>
    <%#= form.fields_for :tags, form.object.tags.build do |f| %>
      <%#= f.label :New_tag? %>
      <%#= f.text_field :tag, class:"form-control" %>
    <%# end %>
    <%# Tag.all.each do |list| %>
    <%#= check_box_tag "post[tag_ids][]", tag_ids %>
      <%#= list.tag_ids %>
      <%# end %>
  </div>
  <div>
    <%= link_to "Create new Tag", new_tag_path, class:"btn btn-light" %>
    </br>
    </br>
    <%= form.submit class:'btn btn-dark'%>
    <%#= link_to "Create new Tag", new_tag_path, class:"btn btn-light" %>
<% end %>
</div>



