<div class="container">
  <h3 class="display-4">Edit Post</h3>
<%= form_with model: [@topic, @post ] do |form| %>
  <br class="container form-group">
  <div>
    <%= form.text_area :content, class:"form-control" %>
  </br>
    <%= form.label :Add_Photo  %>
    <%= form.file_field :image %>
  </br>
    </br>
    <%= form.label :Select_Tag %>
    <%= form.select(:tag_ids, Tag.all.collect {|t| [t.tag, t.id] }, { :prompt => "Please select"},
                    { :multiple => true, :size => 5 }) %>
    <%#= Tag.all.each do |list| %>
      <%#= check_box_tag "topic" %>
      <%#= list.tag %>
    <%# end %>
  </div>
  </br>
  <div>
    <%= form.submit class:'btn btn-dark'%>
<% end %>
  <%= link_to "Back", topic_post_path, class:"btn btn-light" %>
</div>


