<div class= "container" id="new-post">

  <% if @posts.count.zero? %>
    <p class="display-4">No Post To Show :(</p>
    <% else %>
  <p class="display-4">All the Posts Of <%= @topic.title %></p>
  <% end %>
<!--  <strong><%#=  render @topic.posts %></strong>-->
  <% @posts.each do |post| %>
  <%= post.content %>
  (<%= @topic.title %>)
  </br>
    <% if @readpostids.include? post.id %>
     <h6 style="color:green"> read</h6>
    <% else %>
      <h6 style="color:red">not read</h6>
    <% end %>
  <% if post.ratings.count.zero? %>
    <h6>Not Rated Yet</h6>
  <% else %>
    <h6>Rated <%= post.ratings.average(:rate) %></h6>
  <% end %>
  </p>

  <p>
    <%= link_to 'Read the Post', [post.topic, post], class: "btn btn-primary" %>
  </p>

<% end  %>
  <%= will_paginate @posts %>

  <h2 class="display-4">Add a Post</h2>
  <%= render 'posts/form' %>
  </br>

  <%= link_to "Home", topics_path, class:"btn btn-info"%>

</div>
