</br>
<div class="container">
  <h2><%= @topic.title %></h2>
  <h6>Post Created by <%= @post.user.email  %> <%= time_ago_in_words(@post.created_at) %> ago</h6>
  <h6>Average Rating by users <%= @post.ratings.average(:rate) %></h6>
    <h6 target="_blank">
  <% @post.tags.each do |tag| %>
    <%= tag.tag %>
    <% end %>
    </h6>
  <h5><%= @post.content %></h5>
  </br>
  <% if @post.image.present? %>
  <%= image_tag(@post.image, :alt => "rss feed", :height =>"320", :width => "320") %>
    </br>
    </br>
    <% end %>
  <% if can? :update, @post %>
<%= link_to "Edit", edit_topic_post_path, class: "btn btn-secondary" %>
    <% end %>
  <% if can? :destroy, @post %>
<%= link_to 'Delete Post', topic_post_path(@topic, @post),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </br>
  </br>
  <% @post.ratings.each do |comment| %>
    <p>
      <% unless !comment.persisted? %>
        <strong>Ratings</strong>
        <%= comment.rate %>
        </p>
      <% end %>
  <% end %>

  <%= render 'comments/form', comment: @post.comments.build %>
  <%= render 'ratings/form', rating: @post.ratings.build %>
  <%= link_to "Home", topics_path, class:"btn btn-info" %>
</div>

<script type= "text/javascript">
    $(document).ready(function () {
        if(!(<%= current_user.read_post_ids.include? @post.id %>)) {
            $ajax({
                url: "/<%= @topic.id%>/post/<%= @post.id %>/mark_post_read",
                type: "POST",
                date: {},
                complete: function (resp) {
                }
            })
        }
            var back = ["green","blue","red"];
            var rand = back[Math.floor(Math.random() * back.length)];
            $("h6[target='_blank']").css('color', rand);
    });
</script>
